@import "tailwindcss";
@import '@fontsource-variable/figtree';

body {
  font-family: 'Figtree Variable', sans-serif;
}

/* Para el Navbar */
.nav-link {
  @apply relative px-3 py-1 rounded-md text-[#cfdcdf] transition-all;
  transition: all 0.45s ease;
}

.nav-link:hover,
.nav-link[aria-current="page"] {
  @apply text-[#1f3b3b];
}

.nav-link::before {
  content: "";
  @apply absolute inset-0 rounded-md scale-0 opacity-0 transition-all;
  background: #1EE6B3;
  z-index: -1;
}

.nav-link:hover::before,
.nav-link[aria-current="page"]::before {
  @apply scale-100 opacity-100;
}

/* Underline sobre Home */

.inicio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;              /* distancia bajo el texto */
  width: 0%;
  height: 2px;
  background-color: white;    /* color del underline */
  transition: width 0.35s ease;
}

.inicio:hover::after {
  width: 100%;
}

/* Fin Navbar*/
