---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";

import DeviconJavascript from '~icons/devicon/javascript';
import DeviconReactWordmark from '~icons/devicon/react-wordmark';
import DeviconNodejsWordmark from '~icons/devicon/nodejs-wordmark';
import DeviconMysqlWordmark from '~icons/devicon/mysql-wordmark';
import DeviconTailwindcss from '~icons/devicon/tailwindcss';
import DeviconJavaWordmark from '~icons/devicon/java-wordmark';
import DeviconPhp from '~icons/devicon/php';
import DeviconMongodbWordmark from '~icons/devicon/mongodb-wordmark';
import DeviconGit from '~icons/devicon/git';
import DeviconNextjs from '~icons/devicon/nextjs';
import DeviconAstro from '~icons/devicon/astro';
import DeviconTypescript from '~icons/devicon/typescript';
import DeviconDocker from '~icons/devicon/docker';
import DeviconSpringWordmark from '~icons/devicon/spring-wordmark';
import DeviconHtml5 from '~icons/devicon/html5';
import SimpleIconsCss from '~icons/simple-icons/css';
---

<BaseLayout title="Sobre mí">
  <div slot="navbar">
    <Navbar />
  </div>

  <section class="space-y-6">
    <h1 class="text-4xl font-bold text-white">Sobre mí</h1>

    <p class="text-lg text-white/90 leading-relaxed">
      Soy desarrollador web, técnico informático y estudiante de ciberseguridad...
    </p>

    <h2 class="text-2xl font-semibold mt-10 text-white">Experiencia</h2>
    <ul class="list-disc pl-6 text-white/80 space-y-2">
      <li>Desarrollo fullstack.</li>
      <li>Soporte IT y reparación de ordenadores.</li>
      <li>Prácticas en pentesting, scripting y automatización.</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-10 text-white">Skills técnicas</h2>
    <div class="grid grid-cols-2 gap-4 text-white/80">
      <span><DeviconJavascript/></span>
      <span><DeviconTypescript/></span>
      <span><DeviconAstro/></span>
      <span><DeviconReactWordmark/></span>
      <span><DeviconNodejsWordmark/></span>
      <span><DeviconMysqlWordmark/></span>
      <span><DeviconTailwindcss/></span>
      <span><DeviconJavaWordmark></span>
      <span><DeviconPhp></span>
      <span><DeviconMongodbWordmark/></span>
      <span><DeviconGit/></span>
      <span><DeviconNextjs/></span>
      <span><DeviconDocker/></span>
      <span><DeviconSpringWordmark/></span>
      <span><DeviconHtml5/></span>
      <span><SimpleIconsCss class="text-amber-400"/></span>

    </div>
  </section>
</BaseLayout>