---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import HeroAbout from "../components/HeroAbout.astro";
---

<BaseLayout title="Inicio">
  <div slot="navbar">
    <Navbar />
  </div>

  <HeroAbout />
</BaseLayout>
