<div class="grid md:grid-cols-2 gap-10 items-center">
  
  <!-- Texto -->
  <div>
    <h1 class="text-4xl font-bold mb-4 text-[#CBA7FF]">
      Santiago Arias
    </h1>

    <p class="text-lg leading-relaxed text-gray-200">
      Soy desarrollador web y técnico informático con enfoque en ciberseguridad...
    </p>
  </div>

  <!-- Foto con marco -->
  <div class="relative w-64 h-64 mx-auto">
    <!-- Marco Zonai -->
    <img 
      src="/public/framePhoto.svg"
      alt="Frame"
      class=" text-[#D6C375] absolute inset-0 w-full h-full -z-10 pointer-events-none select-none "
    />

    <!-- Tu foto -->
    <img
      src="/public/perfil_hd_png.png"
      alt="Santiago Arias"
      class="rounded-full object-cover w-56 h-56 absolute inset-0 m-auto"
    />
  </div>

</div>