---
const { title } = Astro.props;
import '../styles/global.css'
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <title>{title}</title>
  </head>

 <body class="cyberpunk-background text-white font-sans flex flex-col">
    
      <Navbar />
      <main class="pt-20 max-w-5xl mx-auto px-4 grow relative">
        <slot />
      </main>
      <Footer />
    
  </body>
</html>
