---
const { title } = Astro.props;
import '../styles/global.css'
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="bg-[#1f3b3b] text-white min-h-screen font-sans">
    <slot name="navbar" />
    <main class="pt-20 max-w-5xl mx-auto px-4">
      <slot />
    </main>
  </body>
</html>
